/*-------------------------------------------Login-------------------------------------------*/
body {
    font-size: 0.92rem;
}

.markdown > table > :not(caption) > * > *, .table > :not(caption) > * > * {
    padding: .42rem .42rem;
}

.card-datatable .form-control-sm {
    min-height: calc(1.5em + .5rem + calc(var(--bs-border-width)* 2));
    padding: .25rem .5rem;
    font-size: .875rem;
}

.card-datatable .form-select-sm {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    font-size: .875rem;
    border-radius: var(--bs-border-radius-sm);
}

.offcanvas-loader {
    position: absolute;
    top: 50%;
    left: 50%;
}

/*.offcanvas-loader-text {
    position: absolute;
    top: 55%;
    left: 48%;
}*/

.login-page {
    background: rgba(0, 0, 0, 0.76) url('../images/login_pattern.webp') repeat;
}
/*-------------------------------------------Login-------------------------------------------*/

/*-------------------------------------------Layout-------------------------------------------*/

.dropdown-divider {
    margin: 0 !important;
}

/*.card-datatable {
    font-size: 1rem;
}*/
.hidden {
    display: none !important;
}
.datepicker{
    z-index:9999 !important;
}
/*-------------------------------------------Layout-------------------------------------------*/
/*-------------------------------------------Validation-------------------------------------------*/
.field-validation-error {
    color: #f16d75;
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
}

.validation-summary-errors {
    background: #f7f7a7;
    text-align: center;
    padding: 2px;
    border-radius: 0.3rem;
    border: 1px solid #e4e489;
    margin-bottom: 0.8rem;
}

    .validation-summary-errors > ul {
        padding: 0;
        margin: 0;
    }

    .validation-summary-errors ul > li {
        list-style: none;
    }

.mandatory-symbol {
    margin-left: .25rem !important;
    color: #e81515;
    vertical-align: super;
    font-size: 10px;
}

.form-control.input-validation-error {
    /*border-color: #f16d75;*/
    padding-right: calc(1.5em + 0.75rem);
    /*background-image: url('../images/invalid.svg') !important;*/
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control.valid {
    border-color: #19b159;
    padding-right: calc(1.5em + 0.75rem);
    /*background-image: url('../images/success.svg');*/
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/*-------------------------------------------Validation-------------------------------------------*/
.select2 {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    height: 35.3px;
    padding: 0.2375rem 0.45rem !important;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.3333333;
    color: #232e3c;
    background-clip: padding-box;
    border: 1px solid #dadcde;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select2-container--default .select2-selection--multiple {
    height: 35.3px;
    padding: 0.1rem 0.2rem !important;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.3333333;
    color: #232e3c;
    background-clip: padding-box;
    border: 1px solid #dadcde;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select2-container--default
.select2-selection--single
.select2-selection__arrow
b {
    top: 70% !important;
}

.select2-container--default
.select2-selection--single
.select2-selection__rendered {
    line-height: 26px !important;
}

.select2-search__field:focus {
    color: inherit;
    background-color: #f4f6fa;
    border-color: #90b5e2;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(32, 107, 196, 0.25);
}

.select2-dropdown--below {
    z-index: 99999999999999;
}

.fixTableHead {
    overflow-y: auto;
    height: 55vh;
}

    .fixTableHead thead th {
        position: sticky;
        top: 0;
        background: #009688;
        color: #fff;
    }
