<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>@ViewData["Title"] - Backlog</title>
    <!-- Favicon -->
    <link rel="icon" href="~/images/brand/favicon.ico" type="image/x-icon" />
    <!-- Icon -->
    <link href="~/lib/tabler-icons/tabler-icons.min.css" rel="stylesheet" />
    <!-- Core CSS -->
    <link href="~/css/theme/tabler.min.css" class="template-customizer-core-css" rel="stylesheet" />
    <!-- Application css -->
    <link href="~/css/site.css" asp-append-version="true" rel="stylesheet" />
</head>
<body>
    <div class="page">
        <div class="page-wrapper">
            <!-- Page body -->
            <div class="page-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- Core JS -->
    <script src="~/js/theme/tabler.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
