@{
    ViewData["Title"] = Localize("PageNotFound.Title");
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}
<div class="container-tight py-4">
    <div class="empty">
        <div class="empty-header mb-5">
            <img src="~/images/error-404.png" alt="Backlog" class="img-fluid" />
        </div>
        <p class="empty-title">
            @Localize("PageNotFound.Title")
        </p>
        <p class="empty-subtitle text-secondary">
            @Localize("PageNotFound.Description")
        </p>
        <div class="empty-action">
            <a href="~/" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 12l14 0"></path>
                    <path d="M5 12l6 6"></path>
                    <path d="M5 12l6 -6"></path>
                </svg>
                @Localize("Home.Menu")
            </a>
        </div>
        <div class="mt-5">
            <img src="~/images/brand/logo.png" alt="Backlog" class="navbar-brand-image" />
        </div>
    </div>
</div>